flows.json
[
    {
        "id": "412669072e03744e",
        "type": "tab",
        "label": "/alias",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "VISA_AUTH_ID",
                "value": "XUODRN89PMITTDKCWHTJ21M862xJYdnMaV2B2ivXUZeGEB7bM",
                "type": "str"
            },
            {
                "name": "VISA_AUTH_PASSWORD",
                "value": "7S8ZTHJcr4B1QH",
                "type": "str"
            },
            {
                "name": "VISA_HOST",
                "value": "https://sandbox.api.visa.com/",
                "type": "str"
            }
        ]
    },
    {
        "id": "75217cfbf0795720",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfabc4eb4e54cb9a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0127f0442eaff100",
        "type": "tab",
        "label": "/transaction",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e5a93a558b3c6776",
        "type": "tab",
        "label": "Onboarding",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2fc48cc339f00e42",
        "type": "tab",
        "label": "Error handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c8cb1edd05e1ccb",
        "type": "subflow",
        "name": "visa api",
        "info": "",
        "category": "API",
        "in": [
            {
                "x": 60,
                "y": 220,
                "wires": [
                    {
                        "id": "c5ed5af6e10fedbd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1280,
                "y": 140,
                "wires": [
                    {
                        "id": "c5ed5af6e10fedbd",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1320,
                "y": 240,
                "wires": [
                    {
                        "id": "c5ed5af6e10fedbd",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 320,
                "wires": [
                    {
                        "id": "c5ed5af6e10fedbd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Resource",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#359df3",
        "icon": "font-awesome/fa-credit-card-alt"
    },
    {
        "id": "3d8368539d02f074",
        "type": "subflow",
        "name": "json schema validator",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "9e44cfa7fa94eaa0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 80,
                "wires": [
                    {
                        "id": "9e44cfa7fa94eaa0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "schema",
                "type": "json",
                "value": "{}",
                "ui": {
                    "icon": "font-awesome/fa-list-alt",
                    "type": "input",
                    "opts": {
                        "types": [
                            "json"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/parser-json.svg"
    },
    {
        "id": "0efdf64f7eaaebed",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "cert.pem",
        "keyname": "key_ca90416a-50ec-47f3-9a5d-f6f8e2b2d22c.pem",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "84e59769f7f05b82",
        "type": "tls-config",
        "name": "visa_config",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "cert.pem",
        "keyname": "privateKey.pem",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "c5ed5af6e10fedbd",
        "type": "http request",
        "z": "1c8cb1edd05e1ccb",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{env.VISA_HOST}",
        "tls": "84e59769f7f05b82",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "343dec3e360d3a6a"
            ]
        ]
    },
    {
        "id": "343dec3e360d3a6a",
        "type": "debug",
        "z": "1c8cb1edd05e1ccb",
        "name": "log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "9e44cfa7fa94eaa0",
        "type": "function",
        "z": "3d8368539d02f074",
        "name": "alias validation",
        "func": "const ajv = new Ajv({ strict: false});\n\nconst schema = env.get('schema');\nconst validate = ajv.compile(schema);\n\nif (validate(msg.payload)) return msg;\nnode.warn(validate.errors);\nnode.error(`Invalid massge`, msg);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "Ajv",
                "module": "ajv"
            }
        ],
        "x": 320,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f83075e5cc12da3c",
        "type": "http in",
        "z": "412669072e03744e",
        "name": "[post] v1.0/alias",
        "url": "api/v1.0/alias",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "0709cf8790772006"
            ]
        ],
        "icon": "font-awesome/fa-bank"
    },
    {
        "id": "0709cf8790772006",
        "type": "change",
        "z": "412669072e03744e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.body",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "add41942c9b6ea29"
            ]
        ]
    },
    {
        "id": "add41942c9b6ea29",
        "type": "subflow:3d8368539d02f074",
        "z": "412669072e03744e",
        "name": "validate alias",
        "env": [
            {
                "name": "schema",
                "value": "{\"type\":\"object\",\"properties\":{\"aliasType\":{\"type\":\"string\",\"enum\":[\"PHONE\",\"EMAIL\"]},\"consent\":{\"type\":\"object\",\"properties\":{\"presenter\":{\"type\":\"string\"},\"version\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":9,\"pattern\":\"^[0-9]+\\\\.[0-9]+$\"}},\"required\":[\"presenter\",\"version\"]},\"identification\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\",\"enum\":[\"PASSPORT\",\"DL\",\"NIDN\",\"DPI\"]},\"value\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":36}},\"required\":[\"type\",\"value\"]},\"paymentCredentials\":{\"type\":\"array\",\"items\":{\"oneOf\":[{\"type\":\"object\",\"properties\":{\"accountNumber\":{\"type\":\"string\",\"minLength\":6,\"maxLength\":19,\"pattern\":\"^\\\\d*$\"},\"type\":{\"type\":\"string\",\"const\":\"CARD\"},\"billingAddress\":{\"type\":\"object\",\"properties\":{\"country\":{\"type\":\"string\",\"maxLength\":3,\"minLength\":3,\"pattern\":\"\\r\\n/^ABW|AFG|AGO|AIA|ALA|ALB|AND|ARE|ARG|ARM|ASM|ATA|ATF|ATG|AUS|AUT|AZE|BDI|BEL|BEN|BES|BFA|BGD|BGR|BHR|BHS|BIH|BLM|BLR|BLZ|BMU|BOL|BRA|BRB|BRN|BTN|BVT|BWA|CAF|CAN|CCK|CHE|CHL|CHN|CIV|CMR|COD|COG|COK|COL|COM|CPV|CRI|CUB|CUW|CXR|CYM|CYP|CZE|DEU|DJI|DMA|DNK|DOM|DZA|ECU|EGY|ERI|ESH|ESP|EST|ETH|FIN|FJI|FLK|FRA|FRO|FSM|GAB|GBR|GEO|GGY|GHA|GIB|GIN|GLP|GMB|GNB|GNQ|GRC|GRD|GRL|GTM|GUF|GUM|GUY|HKG|HMD|HND|HRV|HTI|HUN|IDN|IMN|IND|IOT|IRL|IRN|IRQ|ISL|ISR|ITA|JAM|JEY|JOR|JPN|KAZ|KEN|KGZ|KHM|KIR|KNA|KOR|KWT|LAO|LBN|LBR|LBY|LCA|LIE|LKA|LSO|LTU|LUX|LVA|MAC|MAF|MAR|MCO|MDA|MDG|MDV|MEX|MHL|MKD|MLI|MLT|MMR|MNE|MNG|MNP|MOZ|MRT|MSR|MTQ|MUS|MWI|MYS|MYT|NAM|NCL|NER|NFK|NGA|NIC|NIU|NLD|NOR|NPL|NRU|NZL|OMN|PAK|PAN|PCN|PER|PHL|PLW|PNG|POL|PRI|PRK|PRT|PRY|PSE|PYF|QAT|REU|ROU|RUS|RWA|SAU|SDN|SEN|SGP|SGS|SHN|SJM|SLB|SLE|SLV|SMR|SOM|SPM|SRB|SSD|STP|SUR|SVK|SVN|SWE|SWZ|SXM|SYC|SYR|TCA|TCD|TGO|THA|TJK|TKL|TKM|TLS|TON|TTO|TUN|TUR|TUV|TWN|TZA|UGA|UKR|UMI|URY|USA|UZB|VAT|VCT|VEN|VGB|VIR|VNM|VUT|WLF|WSM|YEM|ZAF|ZMB|ZWE$/\"}},\"required\":[\"country\"]},\"preferredFor\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\",\"enum\":[\"RECEIVE\",\"SEND\",\"PAY\"]}},\"required\":[\"type\"]},\"minContains\":0,\"maxContains\":3}},\"required\":[\"accountNumber\",\"type\",\"billingAddress\",\"preferredFor\"]},{\"type\":\"object\",\"properties\":{\"accountName\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":70,\"pattern\":\"^[a-zA-Z0-9\\\\\\\\/\\\\\\\\-\\\\\\\\:\\\\\\\\(\\\\\\\\)\\\\\\\\'\\\\\\\\+]+$\\\\r\\\\n\"},\"accountNumber\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":34,\"pattern\":\"^[a-zA-Z0-9\\\\\\\\/\\\\\\\\-\\\\\\\\:\\\\\\\\(\\\\\\\\)\\\\\\\\'\\\\\\\\+]+$\\\\r\\\\n\"},\"accountNumberType\":{\"type\":\"string\",\"enum\":[\"IBAN\",\"DEFAULT\"]},\"bankName\":{\"type\":\"string\",\"pattern\":\"^[a-zA-Z0-9\\\\\\\\/\\\\\\\\-\\\\\\\\:\\\\\\\\(\\\\\\\\)\\\\\\\\'\\\\\\\\+]+$\\\\r\\\\n\",\"minLength\":1,\"maxLength\":50},\"countryCode\":{\"type\":\"string\",\"minLength\":3,\"maxLength\":3,\"pattern\":\"/^A(BW|FG|GO|IA|L[AB]|ND|R[EGM]|SM|T[A\\r\\nFG]|U[ST]|ZE)|B(DI|E[LNS]|FA|G[DR]|H[RS]|IH|L[MRZ]|MU|OL|\\r\\nR[ABN]|TN|VT|WA)|C(A[FN]|CK|H[ELN]|IV|MR|O[DGKLM]|PV|RI|U\\r\\n[BW]|XR|Y[MP]|ZE)|D(EU|JI|MA|NK|OM|ZA)|E(CU|GY|RI|S[HPT]|\\r\\nTH)|F(IN|JI|LK|R[AO]|SM)|G(AB|BR|EO|GY|HA|I[BN]|LP|MB|N[B\\r\\nQ]|R[CDL]|TM|U[FMY])|H(KG|MD|ND|RV|TI|UN)|I(DN|MN|ND|OT|R\\r\\n[LNQ]|S[LR]|TA)|J(AM|EY|OR|PN)|K(AZ|EN|GZ|HM|IR|NA|OR|WT)\\r\\n|L(AO|B[NRY]|CA|IE|KA|SO|TU|UX|VA)|M(A[CFR]|CO|D[AGV]|EX|\\r\\nHL|KD|L[IT]|MR|N[EGP]|OZ|RT|SR|TQ|US|WI|Y[ST])|N(AM|CL|ER\\r\\n|FK|GA|I[CU]|LD|OR|PL|RU|ZL)|OMN|P(A[KN]|CN|ER|HL|LW|NG|O\\r\\nL|R[IKTY]|SE|YF)|QAT|R(EU|OU|US|WA)|S(AU|DN|EN|G[PS]|HN|J\\r\\nM|L[BEV]|MR|OM|PM|RB|SD|TP|UR|V[KN]|W[EZ]|XM|Y[CR])|T(C[A\\r\\nD]|GO|HA|JK|K[LM]|LS|ON|TO|U[NRV]|WN|ZA)|U(GA|KR|MI|RY|SA\\r\\n|ZB)|V(AT|CT|EN|GB|IR|NM|UT)|W(LF|SM)|YEM|Z(AF|MB|WE)$/ix\"},\"currencyCode\":{\"type\":\"string\",\"minLength\":3,\"maxLength\":3,\"pattern\":\"\\r\\n\\r\\n/^AED|AFN|ALL|AMD|ANG|AOA|ARS|AUD|AWG|AZN|BAM|BBD|BDT|BGN|BHD|BIF|BMD|BND|BOB|BRL|BSD|BTN|BWP|BYR|BZD|CAD|CDF|CHF|CLP|CNY|COP|CRC|CUC|CUP|CVE|CZK|DJF|DKK|DOP|DZD|EGP|ERN|ETB|EUR|FJD|FKP|GBP|GEL|GGP|GHS|GIP|GMD|GNF|GTQ|GYD|HKD|HNL|HRK|HTG|HUF|IDR|ILS|IMP|INR|IQD|IRR|ISK|JEP|JMD|JOD|JPY|KES|KGS|KHR|KMF|KPW|KRW|KWD|KYD|KZT|LAK|LBP|LKR|LRD|LSL|LYD|MAD|MDL|MGA|MKD|MMK|MNT|MOP|MRO|MUR|MVR|MWK|MXN|MYR|MZN|NAD|NGN|NIO|NOK|NPR|NZD|OMR|PAB|PEN|PGK|PHP|PKR|PLN|PYG|QAR|RON|RSD|RUB|RWF|SAR|SBD|SCR|SDG|SEK|SGD|SHP|SLL|SOS|SPL|SRD|STD|SVC|SYP|SZL|THB|TJS|TMT|TND|TOP|TRY|TTD|TVD|TWD|TZS|UAH|UGX|USD|UYU|UZS|VEF|VND|VUV|WST|XAF|XCD|XDR|XOF|XPF|YER|ZAR|ZMW|ZWD$/\"},\"type\":{\"type\":\"string\",\"const\":\"BANK\"},\"preferredFor\":{\"type\":\"string\",\"enum\":[\"RECEIVE\",\"SEND\",\"PAY\"]}},\"required\":[\"accountName\",\"accountNumber\",\"accountNumberType\",\"bankName\",\"countryCode\",\"type\",\"preferredFor\"]}]},\"minContains\":1,\"maxContains\":10},\"profile\":{\"type\":\"object\",\"properties\":{\"contactInfo\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\",\"enum\":[\"EMAIL\",\"PHONE\"]},\"value\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":320}},\"required\":[\"type\",\"value\"]},\"minContains\":2}},\"required\":[\"contactInfo\"]}},\"allOf\":[{\"if\":{\"properties\":{\"aliasType\":{\"const\":\"EMAIL\"}}},\"then\":{\"properties\":{\"aliasValue\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":128,\"pattern\":\"^([a-z0-9_\\\\.-]+)@([\\\\da-z\\\\.-]+)\\\\.([a-z\\\\.]{2,6})$\"}}}},{\"if\":{\"properties\":{\"aliasType\":{\"const\":\"PHONE\"}}},\"then\":{\"properties\":{\"aliasValue\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":128,\"pattern\":\"^[1-9]+[0-9]*$\"}}}}],\"required\":[\"aliasType\",\"aliasValue\",\"consent\",\"identification\",\"paymentCredentials\",\"profile\"]}",
                "type": "json"
            }
        ],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "ea0feadba0c93e71"
            ]
        ]
    },
    {
        "id": "2f062a5572c1ac19",
        "type": "inject",
        "z": "412669072e03744e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"aliasValue\":\"1231231234\",\"identification\":{\"verificationDetails\":{\"verifiedPhone\":false,\"authMethodReference\":\"EXTERNAL, SMS OTP, Email OTP\",\"authDateTime\":\"2021-01-01T22:52:46.000Z\",\"verifiedEmail\":true,\"creationDateTime\":\"2021-01-01T22:52:46.000Z\"},\"type\":\"PASSPORT\",\"value\":\"A123456\"},\"profile\":{\"lastName\":\"Miller\",\"firstName\":\"Alex\",\"contactInfo\":[{\"type\":\"PHONE\",\"value\":\"1231234321\"},{\"type\":\"EMAIL\",\"value\":\"komahihor@gmail.com\"},{\"type\":\"PHONE\",\"value\":\"1231234321\"},{\"type\":\"EMAIL\",\"value\":\"komahihor@gmail.com\"}],\"middleName\":\"Robert\",\"dateOfBirth\":\"1980-02-01\",\"preferredName\":\"Miller's Shop\"},\"aliasType\":\"PHONE\",\"externalId\":\"21267931-7975-4b61-be7a-86915883b2b4\",\"paymentCredentials\":[{\"nameOnCard\":\"John Doe\",\"externalId\":\"63421837-d597-4f0f-89e4-930c1a7b9e85\",\"preferredFor\":[{\"date\":\"2021-01-01T22:52:46.000Z\",\"type\":\"RECEIVE\"},{\"date\":\"2021-01-01T22:52:46.000Z\",\"type\":\"SEND\"},{\"date\":\"2021-01-01T22:52:46.000Z\",\"type\":\"PAY\"}],\"billingAddress\":{\"country\":\"USA\",\"streetName\":12,\"city\":\"San Francisco\",\"postalCode\":94105,\"addressLine1\":\"1000 Market Street\",\"buildingNumber\":56,\"addressLine2\":\"Suite 101\",\"state\":\"CA\",\"minorSubdivisionCode\":\"CA\"},\"type\":\"CARD\",\"accountNumber\":\"0000000000000000\",\"expirationDate\":\"string\"}],\"consent\":{\"presenter\":\"Wells\",\"validFromDateTime\":\"2021-12-01T10:00:00.000Z\",\"intermediaries\":[\"Google\"],\"version\":\"1.0\",\"expiryDateTime\":\"2022-06-20T10:00:00.000Z\"}}",
        "payloadType": "json",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "0709cf8790772006"
            ]
        ]
    },
    {
        "id": "4d4d480fadc22978",
        "type": "catch",
        "z": "412669072e03744e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "4b7d7fb79a291177"
            ]
        ]
    },
    {
        "id": "96d591075ce16a69",
        "type": "http request",
        "z": "412669072e03744e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "84e59769f7f05b82",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "9ac105a7ce1bd126"
            ]
        ]
    },
    {
        "id": "8513a15eeda3a034",
        "type": "http response",
        "z": "412669072e03744e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1430,
        "y": 140,
        "wires": [],
        "icon": "font-awesome/fa-bank"
    },
    {
        "id": "cf0204ff01d91717",
        "type": "comment",
        "z": "412669072e03744e",
        "name": "",
        "info": "",
        "x": 1440,
        "y": 100,
        "wires": []
    },
    {
        "id": "9ac105a7ce1bd126",
        "type": "switch",
        "z": "412669072e03744e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1210,
        "y": 220,
        "wires": [
            [
                "8513a15eeda3a034",
                "a65b29bfc0e63ea8"
            ]
        ]
    },
    {
        "id": "a65b29bfc0e63ea8",
        "type": "http response",
        "z": "412669072e03744e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1430,
        "y": 300,
        "wires": [],
        "icon": "font-awesome/fa-bank"
    },
    {
        "id": "ee35a1d69279ea44",
        "type": "comment",
        "z": "412669072e03744e",
        "name": "",
        "info": "",
        "x": 1440,
        "y": 260,
        "wires": []
    },
    {
        "id": "4b7d7fb79a291177",
        "type": "debug",
        "z": "412669072e03744e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "ea0feadba0c93e71",
        "type": "debug",
        "z": "412669072e03744e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "fc57ea6402090e73",
        "type": "switch",
        "z": "412669072e03744e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "429f2ffb076cd474",
        "type": "link in",
        "z": "2fc48cc339f00e42",
        "name": "link in 1",
        "links": [],
        "x": 155,
        "y": 200,
        "wires": [
            [
                "dd4c08856d5b724b"
            ]
        ]
    },
    {
        "id": "dd4c08856d5b724b",
        "type": "debug",
        "z": "2fc48cc339f00e42",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 200,
        "wires": []
    }
]