flows.json
[
    {
        "id": "412669072e03744e",
        "type": "tab",
        "label": "/alias",
        "disabled": false,
        "info": ""
    },
    {
        "id": "75217cfbf0795720",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfabc4eb4e54cb9a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0127f0442eaff100",
        "type": "tab",
        "label": "/transaction",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e5a93a558b3c6776",
        "type": "tab",
        "label": "Onboarding",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2fc48cc339f00e42",
        "type": "tab",
        "label": "Error handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42f285c336936ac1",
        "type": "tab",
        "label": "Miscellaneous",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d8368539d02f074",
        "type": "subflow",
        "name": "json schema validator",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "9e44cfa7fa94eaa0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 80,
                "wires": [
                    {
                        "id": "9e44cfa7fa94eaa0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "schema",
                "type": "json",
                "value": "{}",
                "ui": {
                    "icon": "font-awesome/fa-list-alt",
                    "type": "input",
                    "opts": {
                        "types": [
                            "json"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/parser-json.svg"
    },
    {
        "id": "d70e53f04ea4219d",
        "type": "subflow",
        "name": "error handler",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 160,
                "wires": [
                    {
                        "id": "51d088d99949334d"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#eb6363",
        "icon": "font-awesome/fa-warning"
    },
    {
        "id": "a19c35db171e7c08",
        "type": "subflow",
        "name": "visa api",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 140,
                "wires": [
                    {
                        "id": "f30d1578157685b0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 140,
                "wires": [
                    {
                        "id": "c6801ec5417f1bb9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "resource",
                "type": "str",
                "value": ""
            },
            {
                "name": "method",
                "type": "str",
                "value": "POST"
            },
            {
                "name": "query",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#359df3",
        "icon": "font-awesome/fa-credit-card"
    },
    {
        "id": "0efdf64f7eaaebed",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "cert.pem",
        "keyname": "key_ca90416a-50ec-47f3-9a5d-f6f8e2b2d22c.pem",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "84e59769f7f05b82",
        "type": "tls-config",
        "name": "visa_config",
        "cert": "${VISA_AUTH_CERT}",
        "key": "${VISA_AUTH_PRIVATE_KEY}",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "DigiCertGlobalRootCA.pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "9e44cfa7fa94eaa0",
        "type": "function",
        "z": "3d8368539d02f074",
        "name": "alias validation",
        "func": "const ajv = new Ajv({ strict: false});\n\nconst schema = env.get('schema');\nconst validate = ajv.compile(schema);\n\nif (validate(msg.payload)) return msg;\nnode.error(`Invalid massge`, msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "Ajv",
                "module": "ajv"
            }
        ],
        "x": 320,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "51d088d99949334d",
        "type": "switch",
        "z": "d70e53f04ea4219d",
        "name": "",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ddcc4203cdae4bab",
        "type": "http response",
        "z": "d70e53f04ea4219d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "034531df60d423c1",
        "type": "http response",
        "z": "d70e53f04ea4219d",
        "name": "",
        "statusCode": "404",
        "headers": {},
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "adad5243ec9d9eeb",
        "type": "http response",
        "z": "d70e53f04ea4219d",
        "name": "",
        "statusCode": "500",
        "headers": {},
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "c6801ec5417f1bb9",
        "type": "http request",
        "z": "a19c35db171e7c08",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "84e59769f7f05b82",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 570,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f30d1578157685b0",
        "type": "function",
        "z": "a19c35db171e7c08",
        "name": "set request",
        "func": "const VISA_HOST =  env.get(\"VISA_HOST\")\nconst resource = env.get(\"resource\");\nconst query = env.get(\"query\");  \n\nmsg.method = env.get(\"method\");\nmsg.url = VISA_HOST + resource + query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "c6801ec5417f1bb9"
            ]
        ]
    },
    {
        "id": "f83075e5cc12da3c",
        "type": "http in",
        "z": "412669072e03744e",
        "name": "[post] v1.0/alias",
        "url": "api/v1.0/alias",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "0709cf8790772006"
            ]
        ],
        "icon": "font-awesome/fa-bank"
    },
    {
        "id": "0709cf8790772006",
        "type": "change",
        "z": "412669072e03744e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.body",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "add41942c9b6ea29"
            ]
        ]
    },
    {
        "id": "add41942c9b6ea29",
        "type": "subflow:3d8368539d02f074",
        "z": "412669072e03744e",
        "name": "validate alias",
        "env": [
            {
                "name": "schema",
                "value": "{\"type\":\"object\",\"properties\":{\"aliasType\":{\"type\":\"string\",\"enum\":[\"01\",\"02\",\"03\",\"04\"]}},\"allOf\":[{\"if\":{\"properties\":{\"aliasType\":{\"const\":\"01\"}}},\"then\":{\"properties\":{\"alias\":{\"type\":\"string\",\"minLength\":9,\"maxLength\":15,\"pattern\":\"/^[0-9]?()[0-9](\\\\s|\\\\S)(\\\\d[0-9]{9})$/\"}}}},{\"if\":{\"properties\":{\"aliasType\":{\"const\":\"02\"}}},\"then\":{\"properties\":{\"alias\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":128,\"pattern\":\"^([a-z0-9_\\\\.-]+)@([\\\\da-z\\\\.-]+)\\\\.([a-z\\\\.]{2,6})$\"}}}},{\"if\":{\"properties\":{\"aliasType\":{\"const\":\"03\"}}},\"then\":{\"properties\":{\"alias\":{\"type\":\"string\",\"pattern\":\"^[1-3](19|20)\\\\d{2}[7-8]\\\\d{7}[0-9]\\\\d{2}$\"}}}},{\"if\":{\"properties\":{\"aliasType\":{\"const\":\"04\"}}},\"then\":{\"properties\":{\"alias\":{\"type\":\"string\",\"pattern\":\"/^AL\\\\d{10}[0-9A-Z]{16}$|^AD\\\\d{10}[0-9A-Z]{12}$|^AT\\\\d{18}$|^BH\\\\d{2}[A-Z]{4}[0-9A-Z]{14}$|^BE\\\\d{14}$|^BA\\\\d{18}$|^BG\\\\d{2}[A-Z]{4}\\\\d{6}[0-9A-Z]{8}$|^HR\\\\d{19}$|^CY\\\\d{10}[0-9A-Z]{16}$|^CZ\\\\d{22}$|^DK\\\\d{16}$|^FO\\\\d{16}$|^GL\\\\d{16}$|^DO\\\\d{2}[0-9A-Z]{4}\\\\d{20}$|^EE\\\\d{18}$|^FI\\\\d{16}$|^FR\\\\d{12}[0-9A-Z]{11}\\\\d{2}$|^GE\\\\d{2}[A-Z]{2}\\\\d{16}$|^DE\\\\d{20}$|^GI\\\\d{2}[A-Z]{4}[0-9A-Z]{15}$|^GR\\\\d{9}[0-9A-Z]{16}$|^HU\\\\d{26}$|^IS\\\\d{24}$|^IE\\\\d{2}[A-Z]{4}\\\\d{14}$|^IL\\\\d{21}$|^IT\\\\d{2}[A-Z]\\\\d{10}[0-9A-Z]{12}$|^[A-Z]{2}\\\\d{5}[0-9A-Z]{13}$|^KW\\\\d{2}[A-Z]{4}22!$|^LV\\\\d{2}[A-Z]{4}[0-9A-Z]{13}$|^LB\\\\d{6}[0-9A-Z]{20}$|^LI\\\\d{7}[0-9A-Z]{12}$|^LT\\\\d{18}$|^LU\\\\d{5}[0-9A-Z]{13}$|^MK\\\\d{5}[0-9A-Z]{10}\\\\d{2}$|^MT\\\\d{2}[A-Z]{4}\\\\d{5}[0-9A-Z]{18}$|^MR13\\\\d{23}$|^MU\\\\d{2}[A-Z]{4}\\\\d{19}[A-Z]{3}$|^MC\\\\d{12}[0-9A-Z]{11}\\\\d{2}$|^ME\\\\d{20}$|^NL\\\\d{2}[A-Z]{4}\\\\d{10}$|^NO\\\\d{13}$|^PL\\\\d{10}[0-9A-Z]{,16}n$|^PT\\\\d{23}$|^RO\\\\d{2}[A-Z]{4}[0-9A-Z]{16}$|^SM\\\\d{2}[A-Z]\\\\d{10}[0-9A-Z]{12}$|^SA\\\\d{4}[0-9A-Z]{18}$|^RS\\\\d{20}$|^SK\\\\d{22}$|^SI\\\\d{17}$|^ES\\\\d{22}$|^SE\\\\d{22}$|^CH\\\\d{7}[0-9A-Z]{12}$|^TN59\\\\d{20}$|^TR\\\\d{7}[0-9A-Z]{17}$|^AE\\\\d{21}$|^GB\\\\d{2}[A-Z]{4}\\\\d{14}$/\"}}}}],\"required\":[\"aliasType\",\"alias\"]}",
                "type": "json"
            }
        ],
        "x": 650,
        "y": 220,
        "wires": [
            [
                "8bd817942b5ddf42"
            ]
        ]
    },
    {
        "id": "2f062a5572c1ac19",
        "type": "inject",
        "z": "412669072e03744e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"value\":\"254711333888\",\"identification\":{\"verificationDetails\":{\"verifiedPhone\":false,\"authMethodReference\":\"EXTERNAL, SMS OTP, Email OTP\",\"authDateTime\":\"2021-01-01T22:52:46.000Z\",\"verifiedEmail\":true,\"creationDateTime\":\"2021-01-01T22:52:46.000Z\"},\"type\":\"PASSPORT\",\"value\":\"A123456\"},\"profile\":{\"lastName\":\"Okafor\",\"firstName\":\"Luke\",\"contactInfo\":[{\"type\":\"PHONE\",\"value\":\"1231234321\"},{\"type\":\"EMAIL\",\"value\":\"komahihor@gmail.com\"}],\"middleName\":\"Robert\",\"dateOfBirth\":\"1980-02-01\",\"preferredName\":\"Miller's Shop\"},\"aliasType\":\"01\",\"externalId\":\"21267931-7975-4b61-be7a-86915883b2b5\",\"paymentCredentials\":[{\"accountName\":\"Алексей Шевцов\",\"accountNumber\":\"9000000000001022\",\"accountNumberType\":\"IBAN\",\"bankName\":\"UABank\",\"currencyCode\":\"AMD\",\"type\":\"BANK\",\"preferredFor\":[{\"date\":\"2021-01-01T22:52:46.000Z\",\"type\":\"RECEIVE\"},{\"date\":\"2021-01-01T22:52:46.000Z\",\"type\":\"SEND\"},{\"date\":\"2021-01-01T22:52:46.000Z\",\"type\":\"PAY\"}],\"billingAddress\":{\"country\":\"USA\",\"streetName\":12,\"city\":\"Kampala\",\"postalCode\":94105,\"addressLine1\":\"1000 Market Street\",\"buildingNumber\":56,\"addressLine2\":\"Suite 101\",\"state\":\"CA\",\"minorSubdivisionCode\":\"CA\"},\"expirationDate\":\"string\"}],\"consent\":{\"presenter\":\"Wells\",\"validFromDateTime\":\"2021-01-11 12:12:12\",\"intermediaries\":[\"Google\"],\"version\":\"1.0\",\"expiryDateTime\":\"2022-06-20T10:00:00.000Z\"}}",
        "payloadType": "json",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "0709cf8790772006"
            ]
        ]
    },
    {
        "id": "4d4d480fadc22978",
        "type": "catch",
        "z": "412669072e03744e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 440,
        "wires": [
            [
                "890a307b4d633211"
            ]
        ]
    },
    {
        "id": "8513a15eeda3a034",
        "type": "http response",
        "z": "412669072e03744e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1530,
        "y": 180,
        "wires": [],
        "icon": "font-awesome/fa-bank"
    },
    {
        "id": "cf0204ff01d91717",
        "type": "comment",
        "z": "412669072e03744e",
        "name": "",
        "info": "",
        "x": 1540,
        "y": 140,
        "wires": []
    },
    {
        "id": "fc57ea6402090e73",
        "type": "switch",
        "z": "412669072e03744e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "64b1a466a3b587f9",
        "type": "change",
        "z": "412669072e03744e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"value\": 1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 180,
        "wires": [
            [
                "8513a15eeda3a034"
            ]
        ]
    },
    {
        "id": "ac3657e7afd769ed",
        "type": "function",
        "z": "412669072e03744e",
        "name": "throw error",
        "func": "node.error(`sadvavsavdssavd`, msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "890a307b4d633211",
        "type": "subflow:d70e53f04ea4219d",
        "z": "412669072e03744e",
        "name": "",
        "x": 330,
        "y": 440,
        "wires": []
    },
    {
        "id": "4fd869c8b618edd5",
        "type": "subflow:a19c35db171e7c08",
        "z": "412669072e03744e",
        "name": "",
        "env": [
            {
                "name": "resource",
                "value": "aliasdirectory/v1/aliases",
                "type": "str"
            }
        ],
        "x": 900,
        "y": 220,
        "wires": [
            [
                "58aae3565f87eabf"
            ]
        ]
    },
    {
        "id": "bf232cdc33a00b2c",
        "type": "http request",
        "z": "412669072e03744e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1860/api/test",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 340,
        "wires": [
            [
                "8772971c026d2941"
            ]
        ]
    },
    {
        "id": "3383839aad1d223a",
        "type": "inject",
        "z": "412669072e03744e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "xvfxghfgdjfx",
        "payloadType": "str",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "4c5dbb78def32cc2"
            ]
        ]
    },
    {
        "id": "8772971c026d2941",
        "type": "debug",
        "z": "412669072e03744e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 340,
        "wires": []
    },
    {
        "id": "4c5dbb78def32cc2",
        "type": "function",
        "z": "412669072e03744e",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 340,
        "wires": [
            [
                "bf232cdc33a00b2c"
            ]
        ]
    },
    {
        "id": "9146949f02ef9a56",
        "type": "http in",
        "z": "412669072e03744e",
        "name": "",
        "url": "/api/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "8ff0bdaf2ae6198a"
            ]
        ]
    },
    {
        "id": "8ff0bdaf2ae6198a",
        "type": "debug",
        "z": "412669072e03744e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 520,
        "wires": []
    },
    {
        "id": "da30827978644aae",
        "type": "comment",
        "z": "412669072e03744e",
        "name": "",
        "info": "",
        "x": 860,
        "y": 420,
        "wires": []
    },
    {
        "id": "58aae3565f87eabf",
        "type": "debug",
        "z": "412669072e03744e",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 220,
        "wires": []
    },
    {
        "id": "8bd817942b5ddf42",
        "type": "debug",
        "z": "412669072e03744e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "1dee73cc590627cc",
        "type": "inject",
        "z": "412669072e03744e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "{\"type\":\"object\",\"properties\":{\"aliasType\":{\"type\":\"string\",\"enum\":[\"PHONE\",\"EMAIL\"]},\"consent\":{\"type\":\"object\",\"properties\":{\"presenter\":{\"type\":\"string\"},\"version\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":9,\"pattern\":\"^[0-9]+\\\\.[0-9]+$\"}},\"required\":[\"presenter\",\"version\"]},\"identification\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\",\"enum\":[\"PASSPORT\",\"DL\",\"NIDN\",\"DPI\"]},\"value\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":36}},\"required\":[\"type\",\"value\"]},\"paymentCredentials\":{\"type\":\"array\",\"items\":{\"oneOf\":[{\"type\":\"object\",\"properties\":{\"accountNumber\":{\"type\":\"string\",\"minLength\":6,\"maxLength\":19,\"pattern\":\"^\\\\d*$\"},\"type\":{\"type\":\"string\",\"enum\":[\"CARD\",\"BANK\"]},\"billingAddress\":{\"type\":\"object\",\"properties\":{\"country\":{\"type\":\"string\",\"maxLength\":3,\"minLength\":3,\"pattern\":\"\\r\\n/^ABW|AFG|AGO|AIA|ALA|ALB|AND|ARE|ARG|ARM|ASM|ATA|ATF|ATG|AUS|AUT|AZE|BDI|BEL|BEN|BES|BFA|BGD|BGR|BHR|BHS|BIH|BLM|BLR|BLZ|BMU|BOL|BRA|BRB|BRN|BTN|BVT|BWA|CAF|CAN|CCK|CHE|CHL|CHN|CIV|CMR|COD|COG|COK|COL|COM|CPV|CRI|CUB|CUW|CXR|CYM|CYP|CZE|DEU|DJI|DMA|DNK|DOM|DZA|ECU|EGY|ERI|ESH|ESP|EST|ETH|FIN|FJI|FLK|FRA|FRO|FSM|GAB|GBR|GEO|GGY|GHA|GIB|GIN|GLP|GMB|GNB|GNQ|GRC|GRD|GRL|GTM|GUF|GUM|GUY|HKG|HMD|HND|HRV|HTI|HUN|IDN|IMN|IND|IOT|IRL|IRN|IRQ|ISL|ISR|ITA|JAM|JEY|JOR|JPN|KAZ|KEN|KGZ|KHM|KIR|KNA|KOR|KWT|LAO|LBN|LBR|LBY|LCA|LIE|LKA|LSO|LTU|LUX|LVA|MAC|MAF|MAR|MCO|MDA|MDG|MDV|MEX|MHL|MKD|MLI|MLT|MMR|MNE|MNG|MNP|MOZ|MRT|MSR|MTQ|MUS|MWI|MYS|MYT|NAM|NCL|NER|NFK|NGA|NIC|NIU|NLD|NOR|NPL|NRU|NZL|OMN|PAK|PAN|PCN|PER|PHL|PLW|PNG|POL|PRI|PRK|PRT|PRY|PSE|PYF|QAT|REU|ROU|RUS|RWA|SAU|SDN|SEN|SGP|SGS|SHN|SJM|SLB|SLE|SLV|SMR|SOM|SPM|SRB|SSD|STP|SUR|SVK|SVN|SWE|SWZ|SXM|SYC|SYR|TCA|TCD|TGO|THA|TJK|TKL|TKM|TLS|TON|TTO|TUN|TUR|TUV|TWN|TZA|UGA|UKR|UMI|URY|USA|UZB|VAT|VCT|VEN|VGB|VIR|VNM|VUT|WLF|WSM|YEM|ZAF|ZMB|ZWE$/\"}},\"required\":[\"country\"]},\"preferredFor\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\",\"enum\":[\"RECEIVE\",\"SEND\",\"PAY\"]}},\"required\":[\"type\"]},\"minContains\":0,\"maxContains\":3}},\"required\":[\"accountNumber\",\"type\",\"billingAddress\",\"preferredFor\"]},{\"type\":\"object\",\"properties\":{\"accountName\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":70,\"pattern\":\"^[a-zA-Z0-9\\\\\\\\/\\\\\\\\-\\\\\\\\:\\\\\\\\(\\\\\\\\)\\\\\\\\'\\\\\\\\+]+$\\\\r\\\\n\"},\"type\":{\"type\":\"string\",\"enum\":[\"CARD\",\"BANK\"]},\"accountNumber\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":34,\"pattern\":\"^[a-zA-Z0-9\\\\\\\\/\\\\\\\\-\\\\\\\\:\\\\\\\\(\\\\\\\\)\\\\\\\\'\\\\\\\\+]+$\\\\r\\\\n\"},\"accountNumberType\":{\"type\":\"string\",\"enum\":[\"IBAN\",\"DEFAULT\"]},\"bankName\":{\"type\":\"string\",\"pattern\":\"^[a-zA-Z0-9\\\\\\\\/\\\\\\\\-\\\\\\\\:\\\\\\\\(\\\\\\\\)\\\\\\\\'\\\\\\\\+]+$\\\\r\\\\n\",\"minLength\":1,\"maxLength\":50},\"countryCode\":{\"type\":\"string\",\"minLength\":3,\"maxLength\":3,\"pattern\":\"/^A(BW|FG|GO|IA|L[AB]|ND|R[EGM]|SM|T[A\\r\\nFG]|U[ST]|ZE)|B(DI|E[LNS]|FA|G[DR]|H[RS]|IH|L[MRZ]|MU|OL|\\r\\nR[ABN]|TN|VT|WA)|C(A[FN]|CK|H[ELN]|IV|MR|O[DGKLM]|PV|RI|U\\r\\n[BW]|XR|Y[MP]|ZE)|D(EU|JI|MA|NK|OM|ZA)|E(CU|GY|RI|S[HPT]|\\r\\nTH)|F(IN|JI|LK|R[AO]|SM)|G(AB|BR|EO|GY|HA|I[BN]|LP|MB|N[B\\r\\nQ]|R[CDL]|TM|U[FMY])|H(KG|MD|ND|RV|TI|UN)|I(DN|MN|ND|OT|R\\r\\n[LNQ]|S[LR]|TA)|J(AM|EY|OR|PN)|K(AZ|EN|GZ|HM|IR|NA|OR|WT)\\r\\n|L(AO|B[NRY]|CA|IE|KA|SO|TU|UX|VA)|M(A[CFR]|CO|D[AGV]|EX|\\r\\nHL|KD|L[IT]|MR|N[EGP]|OZ|RT|SR|TQ|US|WI|Y[ST])|N(AM|CL|ER\\r\\n|FK|GA|I[CU]|LD|OR|PL|RU|ZL)|OMN|P(A[KN]|CN|ER|HL|LW|NG|O\\r\\nL|R[IKTY]|SE|YF)|QAT|R(EU|OU|US|WA)|S(AU|DN|EN|G[PS]|HN|J\\r\\nM|L[BEV]|MR|OM|PM|RB|SD|TP|UR|V[KN]|W[EZ]|XM|Y[CR])|T(C[A\\r\\nD]|GO|HA|JK|K[LM]|LS|ON|TO|U[NRV]|WN|ZA)|U(GA|KR|MI|RY|SA\\r\\n|ZB)|V(AT|CT|EN|GB|IR|NM|UT)|W(LF|SM)|YEM|Z(AF|MB|WE)$/ix\"},\"currencyCode\":{\"type\":\"string\",\"minLength\":3,\"maxLength\":3,\"pattern\":\"\\r\\n\\r\\n/^AED|AFN|ALL|AMD|ANG|AOA|ARS|AUD|AWG|AZN|BAM|BBD|BDT|BGN|BHD|BIF|BMD|BND|BOB|BRL|BSD|BTN|BWP|BYR|BZD|CAD|CDF|CHF|CLP|CNY|COP|CRC|CUC|CUP|CVE|CZK|DJF|DKK|DOP|DZD|EGP|ERN|ETB|EUR|FJD|FKP|GBP|GEL|GGP|GHS|GIP|GMD|GNF|GTQ|GYD|HKD|HNL|HRK|HTG|HUF|IDR|ILS|IMP|INR|IQD|IRR|ISK|JEP|JMD|JOD|JPY|KES|KGS|KHR|KMF|KPW|KRW|KWD|KYD|KZT|LAK|LBP|LKR|LRD|LSL|LYD|MAD|MDL|MGA|MKD|MMK|MNT|MOP|MRO|MUR|MVR|MWK|MXN|MYR|MZN|NAD|NGN|NIO|NOK|NPR|NZD|OMR|PAB|PEN|PGK|PHP|PKR|PLN|PYG|QAR|RON|RSD|RUB|RWF|SAR|SBD|SCR|SDG|SEK|SGD|SHP|SLL|SOS|SPL|SRD|STD|SVC|SYP|SZL|THB|TJS|TMT|TND|TOP|TRY|TTD|TVD|TWD|TZS|UAH|UGX|USD|UYU|UZS|VEF|VND|VUV|WST|XAF|XCD|XDR|XOF|XPF|YER|ZAR|ZMW|ZWD$/\"},\"preferredFor\":{\"type\":\"string\",\"enum\":[\"RECEIVE\",\"SEND\",\"PAY\"]}},\"required\":[\"accountName\",\"type\",\"accountNumber\",\"accountNumberType\",\"bankName\",\"countryCode\",\"currencyCode\",\"preferredFor\"]}]},\"minContains\":1,\"maxContains\":10},\"profile\":{\"type\":\"object\",\"properties\":{\"contactInfo\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\",\"enum\":[\"EMAIL\",\"PHONE\"]},\"value\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":320}},\"required\":[\"type\",\"value\"]},\"minContains\":2}},\"required\":[\"contactInfo\"]}},\"allOf\":[{\"if\":{\"properties\":{\"aliasType\":{\"const\":\"01\"}}},\"then\":{\"properties\":{\"alias\":{\"type\":\"string\",\"minLength\":9,\"maxLength\":15,\"pattern\":\"/^[0-9]?()[0-9](\\\\s|\\\\S)(\\\\d[0-9]{9})$/\"}}}},{\"if\":{\"properties\":{\"aliasType\":{\"const\":\"01\"}}},\"then\":{\"properties\":{\"aliasValue\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":128,\"pattern\":\"^([a-z0-9_\\\\.-]+)@([\\\\da-z\\\\.-]+)\\\\.([a-z\\\\.]{2,6})$\"}}}}],\"required\":[\"aliasType\",\"aliasValue\",\"consent\",\"identification\",\"paymentCredentials\",\"profile\"]}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "429f2ffb076cd474",
        "type": "link in",
        "z": "2fc48cc339f00e42",
        "name": "link in 1",
        "links": [],
        "x": 155,
        "y": 200,
        "wires": [
            [
                "dd4c08856d5b724b"
            ]
        ]
    },
    {
        "id": "dd4c08856d5b724b",
        "type": "debug",
        "z": "2fc48cc339f00e42",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 200,
        "wires": []
    },
    {
        "id": "e60b12c1.93bb3",
        "type": "inject",
        "z": "42f285c336936ac1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "a40f8ee942c51d70",
                "9c3b891cc7646254"
            ]
        ]
    },
    {
        "id": "a40f8ee942c51d70",
        "type": "function",
        "z": "42f285c336936ac1",
        "name": "function 1",
        "func": "let port = env.get(\"VISA_AUTH_ID\");\nnode.warn(port)\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9c3b891cc7646254",
        "type": "debug",
        "z": "42f285c336936ac1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 120,
        "wires": []
    }
]